html,body {
  height: 100%;
  background-color: #101010;
  margin: 3px;
  overflow: hidden;
}

.query {
  position: absolute;
  top: 0px;
  width: 200px;
  text-align: right;  
}

.datepic {
  width: 100px;
}

.project {
  border: 2px;
  padding: 1px;
  width: 104px;
}

.limit {
  border: 2px;
  padding: 1px;
  width: 34px;
}

.buttonQ {
  position: absolute;
  top: 146px;
  width: 200px;
  color: white;
  text-align: center;
}

.speed {
  position: absolute;
  top: 200px;
  width: 200px;
  color: white;
  text-align: center;
}

.scale {
  position: absolute;
  top: 260px;
  width: 200px;
  color: white;
  text-align: center;
}

.buttonA {
  position: absolute;
  top: 340px;
  width: 200px;
  color: white;
  text-align: center;
  font-size: 0.75em;
}

.label {
  font-size: 2.0em;
}

.edges {
  position: absolute;
  top: 400px;
  width: 200px;
  text-align: center;
  margin: 1px;
  font-size: 0.5em;
}

.nodes {
  position: absolute;
  top: 520px;
  width: 200px;
  text-align: center;
  margin: 1px;
  font-size: 0.5em;
}

p {
  margin-top: 14px;
  margin-bottom: 14px;
  height: 12px;
  color: #fff;
}

#speed {
    margin:0 auto 0 auto;
    width: 150px;
}
#scale {
    margin:0 auto 0 auto;
    width: 150px;
}
